* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background: rgb(178, 224, 253);
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    /* justify-content: center; */
    min-height: 8rem;
    max-height: 11rem;
    height: fit-content;
    background: lightskyblue;
    /* text-align: center; */
}

header h1 {
    margin: auto;
    width: fit-content;
    font-size: 4rem;
}

main {
    display: flex;
    text-align: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    /* margin-top: 3rem; */
    align-items: center;
    max-width: 1200px;
}

.player-areas {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
}

.d-one-options {
    display: none;
}

.dropdown-one {
    background-color: rgb(178, 224, 253);
}

.player-names {
    font-size: 2rem;
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid black;
    padding: 0.2rem;
}

.grid-box {
    width: 8rem;
    height: 8rem;
    background-color: blanchedalmond;
    border: 1px solid black;
}

.game-turn {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.naught-move {
    background-image: url(./images/naught_img.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    content: 'yes';
}

.cross-move {
    background-image: url(./images/cross_img.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.turn-display {
    margin: 2rem auto;
    font-size: 2rem;
}

.round-display {
    font-size: 1.5rem;
}

.scores {
    font-size: 1.5rem;
}
/* 
.game-result {
    margin: 2rem auto;
    width: fit-content
} */

/* buttons */


/* .greeting::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.171);
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    text-align: center;
} */

.overlay {
    background-color: rgba(0, 0, 0, 0.893);
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    padding: auto;
    align-content: center;
    text-align: center;
    color: white;
}

.overlay.overlay-fade {
    animation: fadeOut 4s forwards;
    -webkit-animation: fadeOut 2s forwards;
    -moz-animation: fadeOut 2s forwards;
    -o-animation: fadeOut 2s forwards;
    -ms-animation: fadeOut 2s forwards;
  }
  
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        /* display: none; */
    }
}