* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    /* background: rgb(178, 224, 253); */
    background: red;
    margin: 0;
}

header {
    display: flex;
    height: 8rem;
    background: lightskyblue;
}

header h1 {
    margin: auto;
    width: fit-content;
}

main {
    display: flex;
    margin: 0 auto;
    /* margin-top: 3rem; */
    text-align: center;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
}

.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid black;
    padding: 0.2rem;
}

.grid-box {
    width: 5rem;
    height: 5rem;
    background-color: blanchedalmond;
    border: 1px solid black;
}

.game-turn {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.naught-move {
    background-image: url(./images/naught_img.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.cross-move {
    background-image: url(./images/cross_img.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.turn-display {
    margin: 2rem auto;
}

.game-result {
    margin: 2rem auto;
    width: fit-content
}