main.hogwarts {
    /* background-color: #081027; */
}

header.hogwarts {
    background: #081027;
}
body.hogwarts {
    background-color: #081027;
    margin: 0;
    font-family: 'harry_pregular';
    background-image: url(../images/hogwarts-castle-.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    color: yellow
}

.title.hogwarts {
    font-size: 4.5rem;
    text-align: center;
    margin: 1rem auto;

}

.sub-title.hogwarts {
    font-size: 2.5rem;;
}

.player-one.hogwarts img,
.player-two.hogwarts img {
    /* position: absolute; */
    width: 80%;
    margin: 0 auto; 
}

.p1-name-text.hogwarts,
.p2-name-text.hogwarts {
    font-size: 4rem;
    margin: 0 auto;
}

/* .header-image-a.hogwarts,
.header-image-b.hogwarts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 0.4rem;
    height: 100%;
    max-height: 11rem;
    max-width: 21rem;
} */

/* .header-image-a.hogwarts img,
.header-image-b.hogwarts img{
    width: 100%;
    display: inline;
    margin: auto;
    justify-content: space-around;
    
} */

.player-areas.hogwarts {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    gap: 0px;
}

.p1-name-choice.hogwarts,
.p2-name-choice.hogwarts {
    display: none;
}

.game-grid.hogwarts {
    background-image: url(../images/parchment_backgrounda.png);
    /* background-color: red; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 1.5rem;
    gap: 0;
}

.grid-box.hogwarts {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    padding: 0.5rem;
    border: 1px dashed rgb(70, 50, 20);
    /* border: none; */
}

.grid-box.hogwarts:nth-child(-n+3) {
    border-top: none;
}
.grid-box.hogwarts:nth-child(3n+1) {
    border-left: none;
}
.grid-box.hogwarts:nth-child(3n) {
    border-right: none;
}
.grid-box.hogwarts:nth-child(n+7) {
    border-bottom: none;
}

.naught-move.hogwarts {
    background-image: url(/images/HP-scar.png);
    /* background-color: #E50032; */
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.cross-move.hogwarts {
    background-image: url(/images/death-eatersymbol.png);
    /* background-color: #007A44; */
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.p1-name-input.hogwarts,
.p2-name-input.hogwarts {
    visibility: hidden;
}

.dropdown-one.hogwarts,
.dropdown-two.hogwarts {
    visibility: hidden;
}

@font-face {
    font-family: 'harry_pregular';
    src: url('../fonts/webfontkit-harry-potter/harryp__-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-harry-potter/harryp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}