body.sparta {
    background: #F7F7F7;
    margin: 0;
    font-family: 'Gaegu', cursive;
}

/* header {
    display: flex;
    height: 8rem;
    background: lightskyblue;
} */

.title.sparta {
    font-size: 3rem;
}

/* main {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
} */

.game-grid.sparta {
    background-image: url(../images/parchment_backgrounda.png);
    /* background-color: red; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 1.5rem;
    gap: 0;
}

.grid-box.sparta {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    padding: 0.5rem;
    border: 1px dashed rgb(70, 50, 20);
    /* border: none; */
}

.grid-box.sparta:nth-child(-n+3) {
    border-top: none;
}
.grid-box.sparta:nth-child(3n+1) {
    border-left: none;
}
.grid-box.sparta:nth-child(3n) {
    border-right: none;
}
.grid-box.sparta:nth-child(n+7) {
    border-bottom: none;
}

/* .game-turn {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
} */

.naught-move.sparta {
    background-image: url(../images/sparta_symbol.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}


.cross-move.sparta {
    background-image: url(../images/athens_symbol.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

/* .turn-display {
    margin: 2rem auto;
} */

/* .game-result {
    margin: 2rem auto;
    width: fit-content
} */